/* BODY */
body{
  margin:0;
  font-family: Arial;
  background:#f5f5f5;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 20px;
  background:white;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.search-bar{
  width:40%;
  padding:8px;
}

/* CATEGORY */
.category-scroll{
  display:flex;
  gap:10px;
  padding:10px;
  background:white;
}

.category-btn{
  padding:8px 12px;
  background:#eee;
  border-radius:20px;
  cursor:pointer;
}

/* BANNER */
.banner{
  background:#9f7aea;
  color:white;
  text-align:center;
  padding:25px;
}

/* PRODUCTS */
.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
  padding:20px;
}

.product{
  background:white;
  padding:10px;
  border-radius:10px;
  text-align:center;
}

.product img{
  width:100%;
  height:150px;
  object-fit:cover;
}

/* BUTTON */
.product button{
  background:#9f7aea;
  color:white;
  border:none;
  padding:8px;
  width:100%;
  margin-top:5px;
}

/* PRICE */
.old-price{
  text-decoration:line-through;
  color:gray;
}

.discount{
  color:green;
}

/* CART FIXED */
.cart-overlay{
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  display:none;
}

.cart-overlay.active{
  display:block;
}

.cart-drawer{
  position:fixed;
  top:0;
  right:-400px;
  width:300px;
  height:100%;
  background:white;
  padding:20px;
  transition:0.3s;
}

.cart-drawer.active{
  right:0;
}

.checkout-btn{
  background:#9f7aea;
  color:white;
  padding:10px;
  width:100%;
  border:none;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  background:#222;
  color:white;
}
